<!doctype html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- CSS -->
		<link rel="stylesheet" href="public/dest/wd_m_pkg.min.css?vv.-2.57.123.15" async defer>
		<link rel="stylesheet" href="public/dest/app.min.css?vv.-2.57.123.15" async defer>
		<link rel='shortcut icon' type='image/x-icon' href='public/img/favicon.png'/>
		<!-- END CSS -->

		<!-- SCRIPT -->
		<script src="public/dest/js/wd_m_pkg.min.js?vv.-2.57.123.15" async defer></script>
		<script src="../public/dest/js/wd_main.min.js?vv.-2.57.123.15" async defer></script>
		<!-- <script src="public/dest/js/wd_m_pkg.min.js?vv.-2.57.123.15" ></script>
		<script src="../public/js/public.js?vv.-2.57.123.15" ></script>
		<script src="../public/js/changelog.js?vv.-2.57.123.15" ></script>
		<script src="public/js/core.js?vv.-2.57.123.15"></script>
		<script src="public/js/main.js?vv.-2.57.123.15"></script> -->
		<!-- END SCRIPT -->
	</head>
	<body>
		<div id="body-main" style="height: 100%;">
			<div id="ENVIRONMENT" style="display: none;"><%= ENVIRONMENT %></div>
			<div class="loading-screen">
				<!-- <img src="public/img/wru_loading.gif" width=400> -->
				<i class="la la-spinner la-spin"></i>
			</div>
		</div>
	</body>
	<script>
		function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
		r(function(){  a("m"); });
    </script>
</html>
